h1 {
  font-size: 50px;
  font-family: Cursive;
}
h2 {
  font-size: 25px;
  font-family: Cursive;
}
h3 {
  font-size: 15px;
  font-family: Cursive;
}
p {
  font-weight: bold;
  font-family: fantasy;
}
@import "Ihaztwojayz.com";
